apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network

helmCharts:
  - name: cloudflared
    repo: https://charts.kubito.dev
    version: 1.7.4
    releaseName: cloudflared-apps
    namespace: network
    valuesFile: values/values.yaml
