apiVersion: v1
kind: Service
metadata:
  name: httpbin
  labels:
    app: httpbin
    traffic.homelab.dev/gateway-routed: "true"
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: httpbin
