apiVersion: v1
kind: Service
metadata:
  name: homelab-testapp
  labels:
    app.kubernetes.io/name: homelab-testapp
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: homelab-testapp
