apiVersion: longhorn.io/v1beta2
kind: Setting
metadata:
  name: storage-over-provisioning-percentage
  namespace: longhorn-system
value: "150"  # Allow scheduling up to 150% for volume expansion with 3 replicas
