apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ai

resources:
  - deployment.yaml
  - service.yaml
  - secret.gateway-token.yaml
components:
  - ../../../components/networking/tailscale-ingress
patches:
  - target:
      kind: Ingress
      name: app-tailscale
    patch: |-
      - op: replace
        path: /metadata/name
        value: openclaw-tailscale
      - op: replace
        path: /spec/defaultBackend/service/name
        value: openclaw
      - op: replace
        path: /spec/defaultBackend/service/port/number
        value: 18789
      - op: replace
        path: /spec/tls/0/hosts/0
        value: openclaw
